@model IEnumerable<App.Areas.SaleManagement.Models.DetailBill>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th style="width: 150px;color: rgb(255, 255, 255);"></th>
        </tr>
    </thead>
    <tbody>
@* @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bill.BillId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DetailBillId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DetailBillId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DetailBillId">Delete</a>
            </td>
        </tr> 
}*@
    </tbody>
</table>
