@model App.Areas.SaleManagement.Models.Bill_Info

<link href="/css/detail-profile.css" type="text/css" rel="stylesheet" />

<partial name="SBAdmin/_Styles" />

<link href="/vendor/datatables/dataTables.bootstrap4.min.css" type="text/css" rel="stylesheet">


<partial name="_AlertCreateMessage" />
<partial name="_AlertDeleteMessage" />

<div>
    <div class="profile_background mx-5">
        <div class="profile_title">
            <h1>Bill</h1>
            <a asp-action="Edit" asp-route-id="@Model.bill.BillId" class="btn btn-primary sm ">Edit</a>
        </div>
        <div class="contain_profile  mb-5">
            <div class="basic_information">
                <div class="information-title mx-5">
                    <p>Bill information</p>
                </div>
                <hr>
                <div class="basic_information-group">
                    <div class="information-group">
                        <dl class="col mx-5">
                    <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.bill.Employee)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.bill.Employee.EmployeeName)
        </dd>
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.bill.Customer)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.bill.Customer.CustomerName)
        </dd>
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.bill.MakeBillTime)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Convert.ToDateTime(Model.bill.MakeBillTime).ToString("dd/MM/yyyy")
        </dd>
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.bill.ExportBillTime)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Convert.ToDateTime(Model.bill.ExportBillTime).ToString("dd/MM/yyyy")
        </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card shadow mx-5 mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Detail bill</h6>
     
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                       <table class="table table-bordered dataTable" id="dataTable" role="grid" aria-describedby="dataTable_info" width="100%" cellspacing="0">
                            <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.detailBills[0].Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.detailBills[0].Bill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.detailBills[0].Amount)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.detailBills[0].PriceProduct)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.detailBills) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bill.BillId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceProduct) $
            </td>
            @* <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.detailBills[0].Product)</th>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.detailBills[0].BillId)</th>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.detailBills[0].Amount)</th>
                                     <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.detailBills[0].PriceProduct)</th>
                             
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>

<div class="mx-5 mb-4 content-information mt-5">
    <a asp-action="Index">
        <i class="far fa-arrow-alt-circle-left"></i>
        Back
    </a>
</div>


