@model App.Areas.SaleManagement.Models.Bill_Info

<link href="/vendor/datatables/dataTables.bootstrap4.min.css" type="text/css" rel="stylesheet">
<link href="/css/detail-profile.css" type="text/css" rel="stylesheet" />

<partial name="_AlertCreateMessage" />
<partial name="_AlertDeleteMessage" />

<partial name="SBAdmin/_Styles" />

<div class="row mx-5">
    <div class="col-md-5 bg-white rounded shadow-lg">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="bill.BillId" />
            <div class="information-title mx-5"><p>Edit Bill</p></div>
            <div class="form-group mx-5 float-right mt-n5">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            <hr>
            <div class="information-group row">
                <div class="information-group1 ml-5">
                    <div class="form-group">
                        <label asp-for="bill.EmployeeId" class="control-label"></label>
                        <select asp-for="bill.EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                        <span asp-validation-for="bill.EmployeeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="bill.CustomerId" class="control-label"></label>
                        <select asp-for="bill.CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                        <span asp-validation-for="bill.CustomerId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="bill.MakeBillTime" class="control-label"></label>
                        <input asp-for="bill.MakeBillTime" class="form-control" />
                        <span asp-validation-for="bill.MakeBillTime" class="text-danger"></span>
                    </div>
                    <div class="form-group ">
                        <label asp-for="bill.ExportBillTime" class="control-label"></label>
                        <input asp-for="bill.ExportBillTime" class="form-control" />
                        <span asp-validation-for="bill.ExportBillTime" class="text-danger"></span>
                    </div>
              </div>
            </div>
        </form>
    </div>



    <div class="col-md-5 bg-white rounded shadow-lg ml-5">
        <form asp-action="CreateDetailBill"  >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="information-title mx-5"><p>Add product</p></div>
         
            <hr>
            <div class="information-group row">
                <div class="information-group1 ml-5">
            <div class="form-group">
                <label asp-for="detail.BillId" class="control-label"></label>
                <select asp-for="detail.BillId" class ="form-control" asp-items="ViewBag.BillId"></select>
            </div>
            <div class="form-group">
                <label asp-for="detail.ProductId" class="control-label"></label>
                <select asp-for="detail.ProductId" class ="form-control" asp-items="ViewBag.ProductId" id="ProductID"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Price: </label>
                <label id="PriceProduct"></label>
            </div>
            <div class="form-group">
                <label asp-for="detail.Amount" class="control-label"></label>
                <input asp-for="detail.Amount" class="form-control" />
                <span asp-validation-for="detail.Amount" class="text-danger"></span>
            </div>
          
            </div>
              
            </div>
            <div class="form-group float-right mb-3 mr-3">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="card shadow mx-5 my-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Details Bill</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                       <table class="table table-bordered dataTable" id="dataTable" role="grid" aria-describedby="dataTable_info" width="100%" cellspacing="0">
                            <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.detailBills[0].Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.detailBills[0].Bill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.detailBills[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.detailBills[0].PriceProduct)
            </th>
            <th style="width: 150px;color: rgb(255, 255, 255);"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.detailBills) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bill.BillId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.PriceProduct) $
            </td>
            <td>
                <a asp-action="DeleteDetailBill" asp-route-id="@item.DetailBillId">Delete</a>
            </td>
        </tr>
}
    </tbody>
                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.detailBills[0].Product)</th>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.detailBills[0].Bill)</th>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.detailBills[0].Amount)</th>
                                     <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.detailBills[0].PriceProduct)</th>
                                    <th rowspan="1" colspan="1"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>

<div class="mx-5 mb-4 content-information mt-5">
    <a asp-action="Index">
        <i class="far fa-arrow-alt-circle-left"></i>
        Back
    </a>
</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        GetPriceByProduct()
    })

    $("#ProductID").change(function () {
       GetPriceByProduct()

    });


    var GetPriceByProduct = function () {
        $.ajax({
            url: '@Url.Action("GetPriceByProduct","Bill")',
            type: 'GET',
            data: {
                ProductID: $('#ProductID').val(),
            },
            success: function (data) {                
                
                $("#PriceProduct").html(`<label id="PriceProduct">${data} $</label>`)

            },
            error: function () {
            }
        });
    }





</script>
