@model App.Areas.SalaryManagement.Models.Salary

<link href="/css/detail-profile.css" type="text/css" rel="stylesheet" />

<partial name="SBAdmin/_Styles" />

<h3 class="mx-5">Are you sure you want to delete this Salary?</h3>
<form asp-action="Delete">
   <input type="hidden" asp-for="SalaryId" />
    <input type="submit" value="Delete" class="btn btn-danger mx-5" />
</form>

<div class="mx-5">
    <div class="col-md-6 bg-white rounded shadow-lg">
        <div class="information-group mt-3">
            <div class="information-group1">
                <dl class="col">
                    <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd class>
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.BasicSalary)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.BasicSalary.BasicSalaryName)
             : 
            @Html.DisplayFor(model => model.BasicSalary.Money) USD
        </dd class>
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.AllowanceSalary)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.AllowanceSalary.AllowanceSalaryName)
            : 
            @Html.DisplayFor(model => model.AllowanceSalary.Allowance) USD
        </dd class>
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.BonusSalary)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.BonusSalary.BonusSalaryName)
            :
            @Html.DisplayFor(model => model.BonusSalary.PrizeMoney) USD
        </dd class>
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.OvertimeSalary)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.OvertimeSalary.OvertimeSalaryName)
             : 
            @Html.DisplayFor(model => model.OvertimeSalary.moneyPerSession) USD
        </dd class>
        @* <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.BonusLevel)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.BonusLevel)
        </dd> *@
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.NumberOfSession)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.NumberOfSession)
        </dd>
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.SalaryDate)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Convert.ToDateTime(Model.SalaryDate).ToString("dd/MM/yyyy")
        </dd>
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.TotalSalary)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.TotalSalary) USD
        </dd>
    </dl>
    </div>
                </div>
            </div>
</div>
<div class="mx-5 mb-4 content-information mt-5">
    <a asp-action="Index">
        <i class="far fa-arrow-alt-circle-left"></i>
        Back
    </a>
</div>