@model App.Areas.SalaryManagement.Models.Salary

<link href="/css/detail-profile.css" type="text/css" rel="stylesheet" />

<partial name="SBAdmin/_Styles" />

<div>
    <div class="profile_background mx-5">
        <div class="profile_title">
            <h1>Salary</h1>
            <a asp-action="Edit" asp-route-id="@Model.SalaryId" class="btn btn-primary sm ">Edit</a>
        </div>
        <div class="contain_profile  mb-5">
            <div class="basic_information">
                <div class="information-title mx-5 d-flex justify-content-between">
                    <p>Salary</p>
                    <a asp-action="ExportDetailPDF" asp-route-id="@Model.SalaryId" class="btn btn-primary sm h-25"> <i class="fas fa-file-pdf mr-2"></i>Export</a>
                </div>
                <hr>
                <div class="basic_information-group">
                    <div class="information-group">
                        <dl class="col mx-5">
                    <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.BasicSalary)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.BasicSalary.BasicSalaryName)
            : 
            @Html.DisplayFor(model => model.BasicSalary.Money) USD
        </dd>
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.AllowanceSalary)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.AllowanceSalary.AllowanceSalaryName)
            : 
            @Html.DisplayFor(model => model.AllowanceSalary.Allowance) USD
        </dd>
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.BonusSalary)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.BonusSalary.BonusSalaryName)
            :
            @Html.DisplayFor(model => model.BonusSalary.PrizeMoney) USD
        </dd>
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.OvertimeSalary)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.OvertimeSalary.OvertimeSalaryName)
            : 
            @Html.DisplayFor(model => model.OvertimeSalary.moneyPerSession) USD
        </dd>
        @* <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.BonusLevel)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.BonusLevel)
        </dd> *@
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.NumberOfSession)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.NumberOfSession)
        </dd>
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.SalaryDate)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Convert.ToDateTime(Model.SalaryDate).ToString("dd/MM/yyyy")
        </dd>
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.TotalSalary)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.TotalSalary) USD
        </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mx-5 mb-4 content-information mt-5">
    <a asp-action="Index">
        <i class="far fa-arrow-alt-circle-left"></i>
        Back
    </a>
</div>
