@model IEnumerable<App.Areas.SalaryManagement.Models.Salary>

<link href="/vendor/datatables/dataTables.bootstrap4.min.css" type="text/css" rel="stylesheet">

<partial name="_AlertCreateMessage" />
<partial name="_AlertDeleteMessage" />
<partial name="_AlertEditMessage" />


@* <form 
asp-action="Index" method="post"
    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group">
        <input type="search" class="form-control bg-gray-200 border-0 small" placeholder="Search for..."
            aria-label="Search" aria-describedby="basic-addon2" value='@ViewData["GetSalaryHistoryOfEmployee"]'
            name="EmpSearch">
        <input type="date" class="form-control bg-gray-200 border-0 small" aria-describedby="basic-addon2"
            value='@ViewData["GetSalaryTable"]' name="StartTimeSalary">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
</form> *@

<div class="card shadow mx-5 mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Salary</h6>
        
        <p>
        <a asp-action="ExportPDF" class="btn btn-primary float-right mt-n4"> <i class="fas fa-file-pdf mr-2"></i>Export</a>
        </p>
        @* <p>
            <a asp-action="Create" class="btn btn-primary float-right mt-n4">Create</a>
        </p> *@
        
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                       <table class="table table-bordered dataTable" id="dataTable" role="grid" aria-describedby="dataTable_info" width="100%" cellspacing="0">
                           <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Employee)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TotalSalary)
                                    </th>
                                    @* <th>
                                        @Html.DisplayNameFor(model => model.BasicSalary)
                                        </th>
                                        <th>
                                        @Html.DisplayNameFor(model => model.AllowanceSalary)
                                        </th> *@
                                    <th>
                                        @Html.DisplayNameFor(model => model.BonusSalary)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OvertimeSalary)
                                    </th>
                                    @* <th>
                                        @Html.DisplayNameFor(model => model.BonusLevel)
                                        </th> *@
                                    <th>
                                        @Html.DisplayNameFor(model => model.NumberOfSession)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SalaryDate)
                                    </th>
                                    <th style="width: 150px;color: rgb(255, 255, 255);"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalSalary) USD
                                        </td>
                                        @* <td>
                                            @Html.DisplayFor(modelItem => item.BasicSalary.BasicSalaryName)
                                            </td>
                                            <td>
                                            @Html.DisplayFor(modelItem => item.AllowanceSalary.AllowanceSalaryName)
                                            </td> *@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BonusSalary.BonusSalaryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OvertimeSalary.OvertimeSalaryName)
                                        </td>
                                        @* <td>
                                            @Html.DisplayFor(modelItem => item.BonusLevel)
                                            </td> *@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NumberOfSession)
                                        </td>
                                        <td>
                                            @* @Html.DisplayFor(modelItem => item.SalaryDate) *@
                                            @Convert.ToDateTime(item.SalaryDate).ToString("dd/MM/yyyy")
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.SalaryId">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.SalaryId">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.SalaryId">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.Employee)</th>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.TotalSalary)</th>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.BonusSalary)</th>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.OvertimeSalary)</th>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.NumberOfSession)</th>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.SalaryDate)</th>
                                    <th rowspan="1" colspan="1"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>
