@model App.Areas.EmployeeManagement.Models.Employee_Info
@* @model1 App.Areas.EmployeeManagement.Models.Employee_Skill *@

<link href="/vendor/datatables/dataTables.bootstrap4.min.css" type="text/css" rel="stylesheet">
<link href="/css/detail-profile.css" type="text/css" rel="stylesheet" />

<partial name="SBAdmin/_Styles" />
<div>
    <div class="profile_background mx-5">
        <div class="profile_title">
            <h1>Profile</h1>
            <a asp-action="Edit" asp-route-id="@Model.employee.EmployeeId" class="btn btn-primary sm ">Edit</a>
        </div>
        <div class="contain_profile  mb-5">
            <div class="basic_information">
                <div class="information-title mx-5">
                    <p>Employee profile basic</p>
                </div>
                <hr>
                <div class="basic_information-group">
                    <div class="information-group">
                        <dl class="col mx-5">
                            <dt class="row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.employee.EmployeeName)
                            </dt>
                            <dd class="row-sm-10 content-information">
                                @Html.DisplayFor(model => model.employee.EmployeeName)
                            </dd>

                            <dt class="row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.employee.DOB)
                            </dt>
                            <dd class="row-sm-10 content-information">
                                @* @Html.DisplayFor(model => model.employee.DOB) *@
                                @Convert.ToDateTime(Model.employee.DOB).ToString("dd/MM/yyyy")
                            </dd>
                            <dt class="row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.employee.Sex)
                            </dt>
                            <dd class="row-sm-10 content-information">
                                @Html.DisplayFor(model => model.employee.Sex)
                            </dd>
                            <dt class="row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.employee.PlaceOfBirth)
                            </dt>
                            <dd class="row-sm-10 content-information">
                                @Html.DisplayFor(model => model.employee.PlaceOfBirth)
                            </dd>


                        </dl>
                    </div>
                </div>
            </div>
            <div class="detail_information">
                <div class="information-title mx-5">
                    <p>Employee profile detail</p>
                </div>
                <hr>
                <div class="information-group">
                    <div class="information-group1">
                        <dl class="col mx-5">
                            <dt class="row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.employee.Employee_Skills.First().Skill.SkillName)
                            </dt>
                            <dd class="row-sm-10 content-information">
                                @Html.DisplayFor(model => model.employee.Employee_Skills.First().Skill.SkillName)
                            </dd>
                            <dt class="row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.employee_positions.First().Position.PositionName)
                            </dt>
                            <dd class="row-sm-10 content-information">
                                @Html.DisplayFor(model => model.employee_positions.First().Position.PositionName)
                            </dd>
                            <dt class="row-sm-2 title-text">
                            @Html.DisplayNameFor(model => model.employee.Department.DepartmentName)
                        </dt>
                        <dd class="row-sm-10 content-information">
                            @Html.DisplayFor(model => model.employee.Department.DepartmentName)
                        </dd>
                        <dt class="row-sm-2 title-text">
                            @Html.DisplayNameFor(model => model.employee.Level.LevelName)
                        </dt>
                        <dd class="row-sm-10 content-information">
                            @Html.DisplayFor(model => model.employee.Level.LevelName)
                        </dd>
                            <dt class="row-sm-2 title-text">
                                @Html.DisplayNameFor(model => model.employee.Address)
                            </dt>
                            <dd class="row-sm-10 content-information">
                                @Html.DisplayFor(model => model.employee.Address)
                            </dd>
                        </dl>
                    </div>
                    <div class="information-group2" style="display: flex; justify-content: center; flex-direction: column;">
                        <div class="form-group mx-5">
                         <dd class="row-sm-10 content-information">
                                <img src="@(Model.employee.ImageByte == null ? "/img/defaultAvatar.jpg" : string.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.employee.ImageByte)))"
                                    id="imagePreview" alt="DefaultAvatar" style="max-width: 200px; max-height: 200px; border-radius: 50% !important;">
                            </dd>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="card shadow mx-5 mb-4">
    <div class="card-header py-3">
         <h6 class="m-0 font-weight-bold text-primary">Position</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" role="grid"
                            aria-describedby="dataTable_info" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.employee_positions[0].Employee)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.employee_positions[0].Position)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.employee_positions[0].StartTime)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.employee_positions[0].EndTime)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.employee_positions)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Position.PositionName)
                                        </td>
                                        <td>
                                            @* @Html.DisplayFor(modelItem => item.StartTime) *@
                                            @Convert.ToDateTime(item.StartTime).ToString("dd/MM/yyyy")

                                        </td>
                                        <td>
                                            @* @Html.DisplayFor(modelItem => item.EndTime) *@
                                            @Convert.ToDateTime(item.EndTime).ToString("dd/MM/yyyy")
                                        </td>
                                        @* <td>
                                            <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                                            </td> *@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card shadow mx-5 mb-4">
    <div class="card-header py-3">
         <h6 class="m-0 font-weight-bold text-primary">Skill</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" role="grid"
                            aria-describedby="dataTable_info" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.employee_skills[0].Employee)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.employee_skills[0].Skill)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.employee_skills[0].Level)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.employee_skills[0].EvaluationDate)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.employee_skills)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Skill.SkillName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Level)
                                        </td>
                                        <td>
                                            @* @Html.DisplayFor(modelItem => item.EvaluationDate) *@
                                            @Convert.ToDateTime(item.EvaluationDate).ToString("dd/MM/yyyy")
                                        </td>
                                        @* <td>
                                            <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                                            </td> *@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mx-5 content-information">
    <a asp-action="Index">
        <i class="far fa-arrow-alt-circle-left"></i>
        Back
    </a>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>
