@model IEnumerable<App.Areas.EmployeeManagement.Models.Employee>

<!-- Page level plugins -->

<partial name="_AlertCreateMessage" />
<partial name="_AlertDeleteMessage" />
<partial name="_AlertEditMessage" />

<div class="card shadow mx-5 mb-4">
    <div class="card-header py-3">
         <h6 class="m-0 font-weight-bold text-primary">Employee</h6>
         <div class="d-flex float-right justify-content-between col-sm-3">
        <p>
        <a asp-action="ExportPDF" class="btn btn-primary float-right mt-n4"> <i class="fas fa-file-pdf mr-2"></i>Export</a>
        </p>
        <p>
            <a asp-action="Create" class="btn btn-primary float-right mt-n4">Create</a>
        </p>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" role="grid"
                            aria-describedby="dataTable_info" width="100%" cellspacing="0">
                            <thead>
                                <tr role="row">
                                    <th>
                                        @Html.DisplayNameFor(model => model.EmployeeName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Department)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Sex)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Level)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DOB)
                                    </th>
                                    <th style="width: 150px; color: #FFFFFF"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                      
                                        <td>
                                            <img src="@(item.ImageByte == null ? "/img/defaultAvatar.jpg" : string.Format("data:image/gif;base64,{0}", Convert.ToBase64String(item.ImageByte)))"
                                            alt="DefaultAvatar" style="max-width: 50px; max-height: 50px;  border-radius: 50% !important;">
                                            @Html.DisplayFor(modelItem => item.EmployeeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Sex)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Level.LevelName)
                                        </td>
                                        <td>
                                            @* @Html.DisplayFor(modelItem => item.DOB) *@
                                            @Convert.ToDateTime(item.DOB).ToString("dd/MM/yyyy")
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a> |
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.EmployeeName)</th>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.Department)</th>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.Sex)</th>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.Level)</th>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.DOB)</th>
                                    
                                    <th rowspan="1" colspan="1"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" type="text/css" rel="stylesheet">