@model IEnumerable<App.Areas.SaleManagement.Models.Product>


<link href="/vendor/datatables/dataTables.bootstrap4.min.css" type="text/css" rel="stylesheet">

<partial name="_AlertCreateMessage" />
<partial name="_AlertDeleteMessage" />
<partial name="_AlertEditMessage" />

<div class="card shadow mx-5 mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Product</h6>
        <p>
            <a asp-action="Create" class="btn btn-primary float-right mt-n4">Create</a>
        </p>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                       <table class="table table-bordered dataTable" id="dataTable" role="grid" aria-describedby="dataTable_info" width="100%" cellspacing="0">
                           <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProductName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Supplier)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProductType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Unit)
                                    </th>
                                    <th style="width: 150px;color: rgb(255, 255, 255);"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model) {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductType.ProductTypeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Unit)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.ProductName)</th>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.Supplier.SupplierName)</th>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.ProductType.ProductTypeName)</th>
                                    <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.Unit)</th>
                                    <th rowspan="1" colspan="1"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>