@model App.Areas.SalaryManagement.Models.AllowanceSalary

<link href="/css/detail-profile.css" type="text/css" rel="stylesheet" />

<partial name="SBAdmin/_Styles" />

<h3 class="mx-5">Are you sure you want to delete this Allowance Salary?</h3>
<form asp-action="Delete">
   <input type="hidden" asp-for="AllowanceSalaryId" />
    <input type="submit" value="Delete" class="btn btn-danger mx-5" />
</form>

<div class="mx-5">
    <div class="col-md-6 bg-white rounded shadow-lg">
        <div class="information-group mt-3">
            <div class="information-group1">
                <dl class="col">
                    <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.Position.PositionName)
        </dd class>
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.AllowanceSalaryName)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.AllowanceSalaryName)
        </dd>
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.Allowance)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Html.DisplayFor(model => model.Allowance)
        </dd>
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Convert.ToDateTime(Model.StartTime).ToString("dd/MM/yyyy")
        </dd>
        <dt class = "row-sm-2 title-text">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "row-sm-10 content-information">
            @Convert.ToDateTime(Model.EndTime).ToString("dd/MM/yyyy")
        </dd>
    </dl>
            </div>
        </div>
    </div>
</div>
<div class="mx-5 mb-4 content-information mt-5">
    <a asp-action="Index">
        <i class="far fa-arrow-alt-circle-left"></i>
        Back
    </a>
</div>
